In [1]:
# imports
import os, re, json, logging
from typing import List, Dict
import fitz          
import pandas as pd
from openai import OpenAI
from dotenv import load_dotenv

#find table

In [2]:
# ---------- Page discovery utilities ----------
MIN_CODES = 5                                           # tweak if a report is sparse
CODE_RE   = re.compile(r'\b(?:BP|GOV|SBM|IRO|E[1-5]|S[1-4]|G[1-3])[-–‐]?\d{1,2}\b', re.I)

def code_cnt(txt: str) -> int:
    "Count ESRS-style code tokens in a block of text."
    return len(CODE_RE.findall(txt))

def find_esrs_pages(pdf_path: str) -> List[int]:
    """
    Return a **1-based** list of pages that most likely hold the ESRS
    cross-reference table, using the heuristic you provided.
    """
    doc = fitz.open(pdf_path)

    # 1️⃣ “ESRS table of contents” segment
    toc_hits = [
        i for i, p in enumerate(doc)
        if "esrs table of contents" in p.get_text().lower()
        and code_cnt(p.get_text()) >= MIN_CODES
    ]
    if toc_hits:
        start  = toc_hits[-1]
        pages  = [start]
        for j in range(start + 1, len(doc)):
            if code_cnt(doc[j].get_text()) >= MIN_CODES:
                pages.append(j)
            else:
                break
        return [p + 1 for p in pages]                     # 1-based return

    # 2️⃣ densest contiguous block anywhere in the PDF
    qualifies = [code_cnt(p.get_text()) >= MIN_CODES for p in doc]
    blocks, i = [], 0
    while i < len(doc):
        if not qualifies[i]:
            i += 1; continue
        start = i
        while i < len(doc) and qualifies[i]:
            i += 1
        blocks.append(range(start, i))
    if not blocks:
        return []

    best = max(blocks, key=lambda r: len(r)*sum(code_cnt(doc[p].get_text()) for p in r))
    return [p + 1 for p in best]                          # 1-based list

In [3]:
import fitz

try:
    # Update path to local Reports directory
    doc = fitz.open("Reports/2024 Adyen Annual Report.pdf")
    text = doc[242].get_text()  # zero-indexed
    print(text[:1000])  # show first 1000 characters
finally:
    # Ensure document is closed
    if 'doc' in locals():
        doc.close()

Notes to the Company financial
statements
25. Basis of preparation
The company financial statements have been prepared on a going concern basis, in accordance with the
provisions of Part 9, Book 2 of the Dutch Civil Code. In accordance with article 2:362 (8) of Part 9, Book 2 of the
Dutch Civil Code. The accounting principles of recognition, measurement principles and determination of profit
in the company financial statements, are the same as those stated for the Consolidated Financial Statements
unless stated otherwise. These principles also include the classification and presentation of financial instruments,
being equity instruments or financial liabilities.
26. Company - Revenue
Types of goods or service
2024
2023
Settlement fees

1,028,008
833,798
Processing fees

437,561
360,802
Sales of goods

89,387
74,158
Other services

535,828
465,718
Total revenue from contracts with customers

2,090,784
1,734,476
Costs incurred from financial institutions

(242

In [4]:
pdf_path = "Reports/2024 Adyen Annual Report.pdf"
pages = find_esrs_pages(pdf_path)
print("ESRS pages:", pages)

ESRS pages: [112, 113]

In [9]:
from pathlib import Path


reports_dir = Path("Reports")              # your folder
pdf_files   = reports_dir.glob("*.pdf")    # all PDFs in it

for pdf in pdf_files:
    pages = find_esrs_pages(str(pdf))
    print(f"{pdf.name} → ESRS pages: {pages}")

allianz-group-annual-report-2024.pdf → ESRS pages: [157, 158, 159, 160]
adidas-ar24.pdf → ESRS pages: [143, 144, 145]
entire-full-report-basf-ar24.pdf → ESRS pages: [147, 148, 149, 150]
sopra_steria_urd_2024_en_opti.pdf → ESRS pages: [233, 234, 235, 236, 237]
Randstad_Annual_Report_2024_0.pdf → ESRS pages: [141, 142, 143]
2024 Adyen Annual Report.pdf → ESRS pages: [112, 113]
PhilipsFullAnnualReport2024-English.pdf → ESRS pages: [243, 244, 245, 246, 247]
Annual Report 2024_Zalando SE_EN_250503_s.pdf → ESRS pages: [282, 283, 284, 285, 286, 287, 288]
sap-2024-integrated-report.pdf → ESRS pages: [222, 223, 224, 225, 226, 227]
Volkswagen_2024_e.pdf → ESRS pages: [447, 448, 449, 450, 451, 452, 453, 454, 455, 456, 457]
Annual Report 2024 - for print.pdf → ESRS pages: [107, 108, 109, 110, 111]
BMW-Group-Report-2024-en.pdf → ESRS pages: [234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245]
airbus_report_of_the_board_of_directors_2024.pdf → ESRS pages: [152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163]
Annual-Report-2024-Enagas.pdf → ESRS pages: [226, 227, 228, 229, 230]
Stellantis-NV-20241231-Annual-Report.pdf → ESRS pages: [269, 270, 271, 272, 273, 274]
2025-03-20-rwe-annual-report-2024.pdf → ESRS pages: [178, 179, 180, 181, 182, 183, 184, 185, 186]
Commerzbank_Group_Annual_Report_2024.pdf → ESRS pages: [83, 84, 85, 86, 87, 88, 89, 90, 91, 92]
entire-merck-ar24.pdf → ESRS pages: [513, 514, 515, 516, 517, 518, 519, 520, 521, 522, 523, 524]
fy-2024-download-sag-annual-report-en-data.pdf → ESRS pages: [137, 138]
TomTom_Annual Report 2024 (PDF Version).pdf → ESRS pages: [93, 94, 95]
bayer-annual-report-2024.pdf → ESRS pages: [233, 234, 235, 236, 237, 238, 239, 240]
2024-Acerinox-Group-Consolidated-Management-Report.pdf → ESRS pages: [169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182]

#LLM APY

In [5]:
def clean_page_refs(ref_str: str, current_page: int) -> str:
    """
    Remove the footer page number and stray single-digit footnotes.
    Return a comma-separated string of real page refs (or "").
    """
    if not ref_str:
        return ""

    toks  = re.split(r"[,\s]+", ref_str.strip())
    refs  = []
    for t in toks:
        if t.isdigit():
            n = int(t)
            if n == current_page:          # footer → drop
                continue
            if n < 10:                     # footnote marker → drop
                continue
            refs.append(str(n))
    return ", ".join(refs)

In [6]:

# ---------- LLM extraction ----------
load_dotenv()
api_key = os.getenv("OPENAI_API_KEY")
client = OpenAI(api_key=api_key)

# constants for the final table
def get_company_name(pdf_path: str) -> str:
    """Extract company name from PDF filename more robustly"""
    filename = os.path.basename(pdf_path).lower()
    
    # Remove common words and file extensions
    clean_name = (filename
                 .replace('-', ' ')
                 .replace('_', ' ')
                 .replace('.pdf', '')
                 .replace('annual', '')
                 .replace('report', '')
                 .replace('group', '')
                 .replace('integrated', '')
                 .strip())
    
    # Take first word as company name if it's meaningful
    first_word = clean_name.split()[0].title()
    
    # Validate if first_word is a reasonable company name (>2 chars)
    if len(first_word) > 2:
        return first_word
    
    # Fallback: Return filename without common suffixes
    return os.path.splitext(os.path.basename(pdf_path))[0]


CATEGORY       = "DR"
MAX_PAGE_COLS  = 6           # Page_ref1 … Page_ref5
COMPANY = get_company_name(pdf_path)


def extract_page_items(text: str, page_num: int, client: OpenAI) -> pd.DataFrame:
    """
    Call GPT once for a single page and return a **ready-made DataFrame**
    with columns:  name, category, variable, value,
                   Page_ref1 … Page_ref{MAX_PAGE_COLS}
    """
    prompt = f"""You are an ESRS disclosure analyzer. Extract **all** ESRS disclosures
from the text below (page {page_num}). 
* The large single number printed as the page footer (e.g. **{page_num}**)
  is **NOT** a page reference.  Ignore it completely.
* If the “Pages” column for a disclosure is blank, return an empty
  page_reference "".
* value = 1 if a page is given, 0 if not
Return JSON exactly like:
{{"items":[{{"code":"","title":"","page_reference":""}}]}}  — no extra keys.

Text:
{text}"""

    try:
        resp  = client.chat.completions.create(
            model="gpt-4o",   # or "gpt-4o" / "gpt-4.1"
            messages=[{"role":"user","content":prompt}],
            response_format={"type":"json_object"},
        )
        data = json.loads(resp.choices[0].message.content)
        items: List[Dict] = data.get("items", [])

    except Exception as e:
        logging.error(f"LLM error on page {page_num}: {e}")
        items = []

    # ---------- reshape to “ideal” layout ----------
    if not items:         # nothing found on that page
        return pd.DataFrame(columns=["name","category","variable","value"]
                                      + [f"Page_ref{i}" for i in range(1, MAX_PAGE_COLS+1)])

    df = pd.DataFrame(items)

    # 1) make page_reference always a string
    df["page_reference"] = (
        df["page_reference"]
        .apply(lambda x: ", ".join(map(str, x))          # list → "40, 64, 268"
                            if isinstance(x, (list, tuple)) else str(x or ""))
    )

    # 2) now clean + derive 'value' exactly as before
    df["page_reference"] = df["page_reference"].apply(
        lambda s: clean_page_refs(s, page_num)
    )
    # COLLAPSE rows with the same code  (NEW)
    df = (df
        .groupby("code", as_index=False, sort=False)          # keep original order
        .agg({"page_reference": ", ".join}))                  # "40, 64, 268"


    df["value"] = (df["page_reference"].str.len() > 0).astype(int)

    df = (df
          .assign(
              name     = COMPANY,
              category = CATEGORY,
              variable = df.get("code"),
          )
          .drop(columns=["title"], errors="ignore")                       # keep if you want it
    )

    pages = (df["page_reference"]
         .str.replace(r"\s+", " ", regex=True).str.strip()        # tidy spaces/line-breaks
         .str.split(r"[,\s]+", expand=True)                       # ← use regex
         .rename(columns=lambda i: f"Page_ref{i+1}"))


    # ensure we always have Page_ref1 … Page_ref{MAX_PAGE_COLS}
    for i in range(pages.shape[1]+1, MAX_PAGE_COLS+1):
        pages[f"Page_ref{i}"] = ""

    df = pd.concat([df.drop(columns=["page_reference"]), pages], axis=1)

    # final column order
    df = df[["name","category","variable","value"]
            + [f"Page_ref{i}" for i in range(1, MAX_PAGE_COLS+1)]]

    return df.fillna("")        # blanks instead of NaN

In [7]:
pdf_path = "Reports/2024 Adyen Annual Report.pdf"

pages = find_esrs_pages(pdf_path)
print("Chosen pages:", pages)

doc = fitz.open(pdf_path)

dfs = []                                            # << DataFrames live here
for p in pages:
    text = doc[p-1].get_text()          # PyMuPDF uses 0-based index
    df_page = extract_page_items(text, p, client)
    dfs.append(df_page)                 # << append, do NOT extend

full_table = pd.concat(dfs, ignore_index=True)
display(full_table.style.hide(axis="index"))
# full_table.to_excel("Philips_ESRS.xlsx", index=False)

Chosen pages: [112, 113]

In [33]:
def process_reports_folder():
    reports_dir = "Reports"
    pdf_files = [f for f in os.listdir(reports_dir) if f.endswith('.pdf')]
    
    for pdf_file in pdf_files:
        pdf_path = os.path.join(reports_dir, pdf_file)
        print(f"\nProcessing: {pdf_file}")
        try:
            pages = find_esrs_pages(pdf_path)
            print(f"ESRS pages in {pdf_file}:", pages)
        except Exception as e:
            print(f"Error processing {pdf_file}: {e}")

# Run folder processing
process_reports_folder()

Processing: allianz-group-annual-report-2024.pdf
ESRS pages in allianz-group-annual-report-2024.pdf: [157, 158, 159, 160]

Processing: adidas-ar24.pdf
ESRS pages in adidas-ar24.pdf: [143, 144, 145]

Processing: entire-full-report-basf-ar24.pdf
ESRS pages in entire-full-report-basf-ar24.pdf: [147, 148, 149, 150]

Processing: sopra_steria_urd_2024_en_opti.pdf
ESRS pages in sopra_steria_urd_2024_en_opti.pdf: [233, 234, 235, 236, 237]

Processing: Randstad_Annual_Report_2024_0.pdf
ESRS pages in Randstad_Annual_Report_2024_0.pdf: [141, 142, 143]

Processing: PhilipsFullAnnualReport2024-English.pdf
ESRS pages in PhilipsFullAnnualReport2024-English.pdf: [243, 244, 245, 246, 247]

Processing: Annual Report 2024_Zalando SE_EN_250503_s.pdf
ESRS pages in Annual Report 2024_Zalando SE_EN_250503_s.pdf: [282, 283, 284, 285, 286, 287, 288]

Processing: sap-2024-integrated-report.pdf
ESRS pages in sap-2024-integrated-report.pdf: [222, 223, 224, 225, 226, 227]

Processing: Volkswagen_2024_e.pdf
ESRS pages in Volkswagen_2024_e.pdf: [447, 448, 449, 450, 451, 452, 453, 454, 455, 456, 457]

Processing: Annual Report 2024 - for print.pdf
ESRS pages in Annual Report 2024 - for print.pdf: [107, 108, 109, 110, 111]

Processing: BMW-Group-Report-2024-en.pdf
ESRS pages in BMW-Group-Report-2024-en.pdf: [234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245]

Processing: airbus_report_of_the_board_of_directors_2024.pdf
ESRS pages in airbus_report_of_the_board_of_directors_2024.pdf: [152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163]

Processing: Annual-Report-2024-Enagas.pdf
ESRS pages in Annual-Report-2024-Enagas.pdf: [226, 227, 228, 229, 230]

Processing: Stellantis-NV-20241231-Annual-Report.pdf
ESRS pages in Stellantis-NV-20241231-Annual-Report.pdf: [269, 270, 271, 272, 273, 274]

Processing: 2025-03-20-rwe-annual-report-2024.pdf
ESRS pages in 2025-03-20-rwe-annual-report-2024.pdf: [178, 179, 180, 181, 182, 183, 184, 185, 186]

Processing: Commerzbank_Group_Annual_Report_2024.pdf
ESRS pages in Commerzbank_Group_Annual_Report_2024.pdf: [83, 84, 85, 86, 87, 88, 89, 90, 91, 92]

Processing: entire-merck-ar24.pdf
ESRS pages in entire-merck-ar24.pdf: [513, 514, 515, 516, 517, 518, 519, 520, 521, 522, 523, 524]

Processing: fy-2024-download-sag-annual-report-en-data.pdf
ESRS pages in fy-2024-download-sag-annual-report-en-data.pdf: [137, 138]

Processing: TomTom_Annual Report 2024 (PDF Version).pdf
ESRS pages in TomTom_Annual Report 2024 (PDF Version).pdf: [93, 94, 95]

Processing: bayer-annual-report-2024.pdf
ESRS pages in bayer-annual-report-2024.pdf: [233, 234, 235, 236, 237, 238, 239, 240]

Processing: 2024-Acerinox-Group-Consolidated-Management-Report.pdf
ESRS pages in 2024-Acerinox-Group-Consolidated-Management-Report.pdf: [169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182]